<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header__img--logo">
            <img src="/img/logo_360.jpg" alt="logo-kitchening">
        </div>
        <a class="home__header__a--bars" href=""><i class="fa fa-bars"></i></a>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursal">sucursal</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <img src="/img/img-banner_720.jpg" alt="banner">
        </div>
        <div class="home__main__section--products">
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-1_360.jpg" alt="imagen-producto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-nuevo_360.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-2_360.jpg" alt="imagen-producto-2">
                    <img class="home__main__section--product-sticker" src="/img/img-gratis_360.png" alt="sticker-gratis">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-3_360.jpg" alt="imagen-producto-3">
                    <img class="home__main__section--product-sticker" src="/img/img-descuento_360.png" alt="sticker-descuento">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-1_360.jpg" alt="imagen-producto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-gratis_360.png" alt="sticker-gratis">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-2_360.jpg" alt="imagen-producto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-nuevo_360.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product-image" src="/img/img-pdto-3_360.jpg" alt="imagen-producto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-descuento_360.png" alt="sticker-descuento">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">Lorem ipsum amet</h4>
                <p class="home__main__section--product-description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Dolorum fugit iste officia, dignissimos hic dolore enim!</p>
                <a class="home__main__section--product-button" href="">ver más</a>
            </article>
        </div>
    </main>
    <a class="arriba" href="#">Volver Arriba</a>
    <footer class="home__footer">
        <nav class="home__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursal">sucursal</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>