* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1180px;
    background-image: url('/img/bg-body_360.png');
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
   
}

li {
    list-style: none;
    
}
.arriba{
    color: blue;
    background-color: aqua;
  margin-bottom: 40px;

}
